<div class="no-questions">
    <img src="/images/ilustracao.svg" alt="Nenhuma pergunta feita">
    <p>Nenhuma pergunta por aqui...</p>
    <p>Faça sua primeira pergunta e envie o código da sala para outras pessoas!</p>
</div>